.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 25px;
  color: #ffffff;
  background-color: #7289da;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
